body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #090979, #f5576c);
}

.todo-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#taskInput {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #f5576c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f093fb;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
